body {
  text-align: center;
  font-size: 20px;
}

h5 {
  margin: 5px;
  padding: 10px;
  border: 3px solid #c4ddf2;
  background-color: #ebf3fb;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0 20px;
}

.button {
  display: inline;
  margin: 5px 0;
  padding: 5px 30px;
  font-size: 17px;
  background-color: #b3d4ee;
  border: 2px solid #66a8dc;
  position: relative;
  left: -7px;
}

.card-title.card-text {
  font-family: "Times New Roman", Times, serif;
}

.card {
  display: inline-block;
  text-align: center;
  color: #006ec5;
  border-radius: 0px;
}

.card.around {
  margin: 15px auto;
  width: 700px;
  box-shadow: 1px 1px 5px 1px grey;
}

.card-body.around {
  margin: 0 auto;
}

.day {
  padding: 3px;
  background-color: #f5f9fd;
}

.days {
  margin: 0 5px;
  background-color: #fefefe;
}

.form-control {
  width: 80%;
  border-radius: 0px;
  display: inline;
  background-color: #e0eef8;
  border: 2px solid #66a8dc;
}
.weather-now {
  text-align: left;
  margin: 10px 25px 10px 20px;
  padding: 2px 20px;
  border: 2px solid #66a8dc;
  border-radius: 35px;

  background-color: #e0eef8;
  color: #006ec5;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}

.active {
  color: #006ec5;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}
